In [17]:
import pandas as pd

fn = 'company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

In [24]:
companies = list(stocks_df.index)
movements = stocks_df.values

companies

['Apple',
 'AIG',
 'Amazon',
 'American express',
 'Boeing',
 'Bank of America',
 'British American Tobacco',
 'Canon',
 'Caterpillar',
 'Colgate-Palmolive',
 'ConocoPhillips',
 'Cisco',
 'Chevron',
 'DuPont de Nemours',
 'Dell',
 'Ford',
 'General Electrics',
 'Google/Alphabet',
 'Goldman Sachs',
 'GlaxoSmithKline',
 'Home Depot',
 'Honda',
 'HP',
 'IBM',
 'Intel',
 'Johnson & Johnson',
 'JPMorgan Chase',
 'Kimberly-Clark',
 'Coca Cola',
 'Lookheed Martin',
 'MasterCard',
 'McDonalds',
 '3M',
 'Microsoft',
 'Mitsubishi',
 'Navistar',
 'Northrop Grumman',
 'Novartis',
 'Pepsi',
 'Pfizer',
 'Procter Gamble',
 'Philip Morris',
 'Royal Dutch Shell',
 'SAP',
 'Schlumberger',
 'Sony',
 'Sanofi-Aventis',
 'Symantec',
 'Toyota',
 'Total',
 'Taiwan Semiconductor Manufacturing',
 'Texas instruments',
 'Unilever',
 'Valero Energy',
 'Walgreen',
 'Wells Fargo',
 'Wal-Mart',
 'Exxon',
 'Xerox',
 'Yahoo']

In [26]:
from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=20)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
     steps=[('normalizer', Normalizer(copy=True, norm='l2')), ('kmeans', KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=20, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0))])

In [27]:
labels = pipeline.predict(movements)

In [28]:
df = pd.DataFrame({'labels': labels, 'companies': companies})

In [29]:
df

    labels                           companies
0       14                               Apple
1        6                                 AIG
2        0                              Amazon
3        8                    American express
4        2                              Boeing
5        8                     Bank of America
6       11            British American Tobacco
7        5                               Canon
8       12                         Caterpillar
9        3                   Colgate-Palmolive
10       1                      ConocoPhillips
11      17                               Cisco
12       1                             Chevron
13      12                   DuPont de Nemours
14      18                                Dell
15       5                                Ford
16       8                   General Electrics
17      15                     Google/Alphabet
18       8                       Goldman Sachs
19      11                     GlaxoSmithKline
20      13                          Home Depot
21       5                               Honda
22      18                                  HP
23      12                                 IBM
24      17                               Intel
25      12                   Johnson & Johnson
26       8                      JPMorgan Chase
27       3                      Kimberly-Clark
28       4                           Coca Cola
29       2                     Lookheed Martin
30      12                          MasterCard
31       4                           McDonalds
32      12                                  3M
33      17                           Microsoft
34       5                          Mitsubishi
35      16                            Navistar
36       2                    Northrop Grumman
37      11                            Novartis
38       4                               Pepsi
39       1                              Pfizer
40       3                      Procter Gamble
41       4                       Philip Morris
42      11                   Royal Dutch Shell
43      11                                 SAP
44       1                        Schlumberger
45       5                                Sony
46      11                      Sanofi-Aventis
47      19                            Symantec
48       5                              Toyota
49      11                               Total
50      10  Taiwan Semiconductor Manufacturing
51      10                   Texas instruments
52      11                            Unilever
53       1                       Valero Energy
54       9                            Walgreen
55       8                         Wells Fargo
56       7                            Wal-Mart
57       1                               Exxon
58       5                               Xerox
59       0                               Yahoo

In [30]:
df.sort_values('labels')

    labels                           companies
59       0                               Yahoo
2        0                              Amazon
57       1                               Exxon
53       1                       Valero Energy
44       1                        Schlumberger
39       1                              Pfizer
12       1                             Chevron
10       1                      ConocoPhillips
36       2                    Northrop Grumman
29       2                     Lookheed Martin
4        2                              Boeing
27       3                      Kimberly-Clark
9        3                   Colgate-Palmolive
40       3                      Procter Gamble
31       4                           McDonalds
28       4                           Coca Cola
38       4                               Pepsi
41       4                       Philip Morris
7        5                               Canon
21       5                               Honda
45       5                                Sony
48       5                              Toyota
58       5                               Xerox
15       5                                Ford
34       5                          Mitsubishi
1        6                                 AIG
56       7                            Wal-Mart
5        8                     Bank of America
26       8                      JPMorgan Chase
3        8                    American express
18       8                       Goldman Sachs
16       8                   General Electrics
55       8                         Wells Fargo
54       9                            Walgreen
50      10  Taiwan Semiconductor Manufacturing
51      10                   Texas instruments
49      11                               Total
46      11                      Sanofi-Aventis
52      11                            Unilever
19      11                     GlaxoSmithKline
6       11            British American Tobacco
37      11                            Novartis
42      11                   Royal Dutch Shell
43      11                                 SAP
8       12                         Caterpillar
32      12                                  3M
30      12                          MasterCard
25      12                   Johnson & Johnson
23      12                                 IBM
13      12                   DuPont de Nemours
20      13                          Home Depot
0       14                               Apple
17      15                     Google/Alphabet
35      16                            Navistar
33      17                           Microsoft
24      17                               Intel
11      17                               Cisco
22      18                                  HP
14      18                                Dell
47      19                            Symantec